/* IMPORT SDILENYCH NASTAVENI ========================== */
@import url("../shared/css/application.css");
@import url("../shared/css/database.css");
@import url("../shared/css/icons.css");
@import url("../shared/css/menu.css");
@import url("../shared/css/rpc.css");
@import url("../shared/css/table_layout.css");
@import url("../shared/css/tools.css");
@import url("../shared/css/window.css");
@import url("../shared/css/web.css");
@import url("../shared/themes/michal/css/red.css");
/* ===================================================== */
table.layout td.top {
	height: 1px;
}
table.layout td.head {
	background: url("../images/bg/head_dorty.jpg") no-repeat top;
	height: 225px;
}